<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="http://localhost:3000/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<body>
	<div class="alt-header clearfix">
		<h1>dreamlucid</h1><br>
		<a href="/dreamlucid">Main Page</a>
	</div>
	<div class="pure-g">
		<div class="main-content">
			<h3>Welcome!</h3>
			<p>Your username is <%=username%>.</p>
			<p>Your password is <%=password%>.</p>
		</div>
	</div>
</body>
	<script src="http://localhost:3000/main.js"></script>
<html>