<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="http://localhost:3000/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<body>
	<header>
		<h1>Dream Lucid</h1>
		<p id="header-text-small">Architecting the world of REM connections</p> 
	</header>
	<div class="main-content">
		<h1>Welcome to Dream Lucid!</h1>
		<h3>Your username is <%=username%>.</h3>
		<h3>Your password is <%=password%>.</h3>
	</div>
	<a href="/dreamlucid">Return to Main Page</a>
</body>
	<script src="http://localhost:3000/main.js"></script>
<html>