<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="http://localhost:3000/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<body>
	<header>
		<h1>Dream Lucid</h1>
		<p id="header-text-small">Architecting the world of REM connections</p> 
	</header>
	<div class="main-content">
		<h1>Create a new account!</h1>
		<form action="/dreamlucid/username/create" method="POST">
			<label for="userName">Enter a username</label>
			<input type="text" name="userName">
			<label for="password">Enter a password</label>
			<input type="text" name="password">
			<button id="create-account">Submit</button>
		</form>
	</div>
</body>
	<script src="http://localhost:3000/main.js"></script>
<html>