<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="http://localhost:3000/main.css">
	<link href='http://fonts.googleapis.com/css?family=Signika:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://localhost:3000/js-cookie-master/src/js.cookie.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsTaez7_fNfWUv1IVp_T32IF7AW8aDqAc"></script>
<body>
	<div class="alt-header clearfix">
		<h1>dreamlucid</h1><br>
		<a href="/dreamlucid">Back</a>
	</div>
	<div class="pure-g">
		<div class="main-content clearfix pure-u-3-5">
			<div id="map-canvas">
			</div>
		</div>
	</div>
</body>
	<script src="http://localhost:3000/main.js"></script>
<html>