<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="http://localhost:3000/main.css">
	<link href='http://fonts.googleapis.com/css?family=Signika:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://localhost:3000/js-cookie-master/src/js.cookie.js"></script>
	
<body>
	<div class="alt-header clearfix">
		<h1>dreamlucid</h1><br>
		<a href="/dreamlucid">Back</a>
	</div>
	<div class="pure-g">
		<div class="main-content clearfix pure-u-3-5">
			<h3>Click to choose which images you would like to include in your mood map. We have selected an instagram smattering for you based on your topic summary. To upload your own images, use the "upload" button at the bottom of the page.</h3>
			<form action="">
				<% images.forEach(function(image){%>
					<% if (image !== undefined){%>
						<div class="image-box"> 
						</div>
					<%}%>
					<input type="checkbox" name="image" value="<%=image%>"></input>
				<%});%>  
				<button type="submit">Submit</button>
			</form>

			<form action="/upload" method="post" enctype="multipart/form-data">  
				<label for="file">Select your image:</label>
				<input type="file" name="file" id="file" />
				<span class="hint">Supported files: jpg, jpeg, png.</span>
				<button type="submit">upload</button>
			</form>  
		</div>
	</div>
</body>
	<script src="http://localhost:3000/main.js"></script>
<html>
<!-- style="background-image:url('<%=image%>');" -->